.overlay__background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 999;
}

.overlay__container {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 1000;
  /* padding: 150px; */
  /* width: fit-content; */
  /* height: fit-content; */
  width: 70vw;
  height: 70vh;
  padding: 20px 80px;
  overflow: auto;
}

.overlay__close:after {
  display: inline-block;
  content: "\00d7";
}

.overlay__close {
  border: none;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}
