@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Libre+Franklin:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM Mono", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.project-cover {
  position: relative;
}

.project-cover-image {
  display: block;
  width: 100%;
  max-height: 550px;
  // height: 70vh;

  object-position: center;
  // height: 442px;
  // background-color: red;
  object-fit: cover;
  // object-position: 50% 10%;
}

/* ======================= Theme ======================= */

:root {
  --body_background: white;
  // --body_color: black;
  --body_color: #333;
  --body_border: #222;
  /* --link_color: navy; */
}

[data-theme="dark"] {
  --body_background: #1a202c;
  --body_color: white;
  --body_border: white;
  /* --link_color: cyan; */
}

body {
  background-color: var(--body_background);
  color: var(--body_color);
  font-family: "Libre Franklin", "sans-serif";
}

.no-scroll {
  overflow: hidden;
}

.skills__and__deliverables {
  background-color: #e9e9e9;
  padding: 5px 10px;
  width: auto;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 500;
  color: #6f6860;
  text-align: center;
}
